*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/legno.png");
  width: 100%;

}

/*container*/

/*header*/
header{


  padding-top: 10px;
}

#bosco{
  background-image: url("../img/bosco.jpg");
  width: 80%;
  height: 300px;
  border: 10px solid white;
  margin: 0 auto;
}

#natural{
  display: inline-block;
  color: white;
  font-size: 100px;
  transform: translate(+80%, +50%);
}

#another{
  display: inline-block;
  color: white;
  font-size: 20px;
  transform: translate(-15%, +500%);
}

nav{
  background-color: #696969;
  width: 80%;
  height: 60px;
  text-align: center;
  margin: 0 auto;
}

li{
  display: inline-block;
  font-size: 20px;
  color: white;
  transform: translate(-0%, +50%);
}



.container1:after{
  content: "";
  display: table;
  clear: both;

}
.container1{
  width: 80%;
  margin: 0 auto;
}

/*parte sinistra*/
.sinistra{
  float: left;
  width: 20%;
  height: 500px;
  background-color: white;
  margin-right: 121px;
  margin-top: 10px;
}

/*parte centrale*/
.centro{
  float: left;
  width: 40%;
  height: 500px;
  background-color: white;
  margin-right: 121px;
  margin-top: 10px;
}
/*parte destra*/
.destra{
  float: left;
  width: 20%;
  height: 1500px;
  margin-top: 10px;
}

.widget{
  background-color: white;
  margin-bottom: 20px;
  height: 500px;

}










/*footer*/
#fine{
background-color: white;
width: 80%;
height:150px;
margin: 0 auto;
margin-top: 300px;
margin-bottom: 20px;
}
