*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/legno.png");
  width: 100%;
  height: 1000px;
}

/*container*/
#container{
  position: relative;
}
/*header*/
header{
  position: absolute;
  background-image: url("../img/bosco.jpg");
  width: 80%;
  height: 300px;
  left: 10%;
  top: 10px;
  border: 10px solid white;
}
#natural{
  color: white;


}

/*parte sinistra*/

/*parte centrale*/

/*parte destra*/










/*footer*/
#fine{

}
